.title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--color-white);
}

.button{font-family: "Poppins", sans-serif;
font-weight: 600;
font-style: SemiBold;
font-size: 20px;
line-height: 100%;
letter-spacing: 0px;
text-align: right;
color: var(--color-primary);
background-color: var(--color-black);
border: none;
}

.albumwrapper {
  position: relative;
}

.tab {
  color: #fff;
  opacity: 1;
}

.tab.Mui-selected {
  color: #fff;
}


.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  padding-bottom: 30px;
}

.container1 {
  max-width: 100%;
  margin: 0 auto;    
  border-style: solid none;
  border-width: 1px 0;
  border-color: #34c94b;
  padding:0 30px;
  padding-bottom: 30px;

}


