:root {
  --color-black: #121212;
  --color-primary: #34c94b;
  --color-white: #FFFFFF;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: #121212;
}

.swiper-button-disabled {
  display: none;
}

.css-10d30g3-MuiPaper-root-MuiDialog-paper{width: 50%!important;}