.button {
  background-color: var(--color-black);
  color: var(--color-green);
  border: 1px solid var(--color-green);
  border-radius: 12px;
  width: 138px;
  height: 27px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.25px;
  cursor: pointer;
}
