.button {
  background-color: var(--color-black);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 12px;
  width: 170px;
  height: 47px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.25px;
  cursor: pointer;
}

