.button {
  background-color: var(--color-black);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 12px;
  width: 170px;
  height: 47px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.25px;
  cursor: pointer;
}

.field :global(.MuiOutlinedInput-root fieldset) {
  border-color: #34c94b;
}

.field :global(.MuiInputLabel-root) {
  color: #000;
}

.css-10d30g3-MuiPaper-root-MuiDialog-paper{width: 35%!important;
border-radius: 10px;}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-si425x {
    width: 35%;
}