.container {
  max-width: 50%;
  display: block;
  margin: 0 auto;
  padding-bottom: 40px;
}


.title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
}

.accordion{background-color: transparent;} 

.accordionsummary {
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 10px;
 margin-top: 15px;
}

.typography {
  color: #fff;
}

.accordiondetails{
    background-color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 16px;
 
}
